nose
pep8
flake8
numpy
scipy
pyqt5
requests
pandas
matplotlib
h5py
scikit-learn
statsmodels
ipywidgets
sphinx
sphinx_bootstrap_theme
coveralls
sphinx-autodoc-typehints
docrep
nbsphinx
scikit-bio>=0.5.1
biom-format
calour
